
body {
  font-family: Arial, sans-serif;
  position: relative;
}

nav {
  text-align: right;
  position: relative;
  top: 3px;
  height: 60px;
}
.menu-item {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  position: relative;
  top: -1px;
  margin-right: 16px;
}

.menu-item:hover {
  text-decoration: underline;
}
#headerButton {
  font-size: 15px;
  background-color: #1a73e8;
  color: #fff6f9e9;
  padding: 10px 24px;
  border-radius: 4px;
  border: none;
}

.home__button {
  display: flex;
  justify-content: center;
  min-width: calc(100% - 200px);
  gap: 1rem;
  margin: 1rem 0;
}
.search,
.doodle {
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  border: none;
  color: #202124;
  font-weight: lighter;
  font-size: 1em;
}

#dropdownMenu {
  position: relative;
  top: 7px;
  width: 26px;
  height: 26px;
  opacity: 0.7;
  margin-right: 16px;
}

/* #logo-container{
  text-align: center;
} */
#logo {
  width: 400px;
  margin: 6rem 0 3rem 0;
  object-fit: contain;
}
#input-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: calc(100% - 50%);
  color: #222;
  border: 1px solid #dfe1e5;
  padding: 1rem 0;
  font-size: 13px;
  border-radius: 24px;
  outline: none;
}

#input-field {
  position: relative;
  /* top: -144px; */
  color: #222;
  width: 80%;
  padding-left: 3em;
  border: none;
  font-size: 13px;
  border-radius: 24px;
  outline: none;
}

#input-field :hover {
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px 0 rgba(33, 33, 36, 0.28);
}

#input-field :focus {
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px 0 rgba(33, 33, 36, 0.28);
}

#page-container {
  text-align: center;
}

#voice-search-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  position: absolute;
  /* top: -129px;  */
  right: 3%;
}
#search-icon {
  width: 14px;
  height: 14px;
  object-fit: contain;
  position: absolute;
  /* top: -129px;  */
  left: 2%;
}

/* .bodyButton1 {
  background-color: #f8f9fa;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
  border: none;
  color: rgb(60, 64, 67);
  position: relative;
  top: -14vh;
  right: 4%;
}

.bodyButton2 {
  background-color: #f8f9fa;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
  border: none;
  color: rgb(60, 64, 67);
  position: relative;
  top: -18.5vh;
  left: 4%;
}

.bodyButton1:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0, 1px, 1px rgba(0, 0, 0, 0.1);
}

.bodyButton2:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0, 1px, 1px rgba(0, 0, 0, 0.1);
} */

#appDropDown {
  width: 285px;
  padding: 28px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0px;
}

.appDropdDownImage-container {
  display: inline-block;
  width: 84px;
  height: 84px;
  margin-bottom: 14px;
}

.appImages {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.appDropdDownImage-container:hover {
  background: rgba(0, 0, 0, 0.4);
}
.appText {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  padding-top: 8px;
}
#dropdown-wrapper {
  position: relative;
}
